 @page "/search/gym"
 @using BlazorServerAuthenticationAndAuthorization.models
 @using BlazorServerAuthenticationAndAuthorization.Commons
 @using powerPalsDb.Models
 @inject PowerPalsServices.GymService GymService
 @inject NavigationManager NavigationManager

 <div class="d-flex flex-column align-items-center justify-content-center w-50">
    <MudTextField @bind-Value="@searchparam" Class="w-75"
                  Immediate="true"
                  Variant="Variant.Outlined" Adornment="Adornment.End" 
                  AdornmentIcon="@Icons.Material.Filled.Search" 
                  TextChanged="SearchGyms"/>
    <ItemList Items="@(gyms.Select(item => new Preview(){ Name= item.Name, ImageUrl=item.ImageUrl, Id = item.Id}).ToList())" 
        onClick="@( (id) => NavigationManager.NavigateTo($"/gym/{id}"))"/>
 </div>

@code {
    private string searchparam { get; set; } = "";

    private List<Gym> gyms = new();

    protected override async Task OnInitializedAsync()
    {
        await SearchGyms();
    }

    private async Task SearchGyms()
    {
        gyms = searchparam != "" ? await GymService.GetGymsByNameAsync(searchparam) : await GymService.GetGymsAsync();

        StateHasChanged();
    }
}
