@inherits LayoutComponentBase

<MudThemeProvider />
<MudPaper Class="d-flex flex-column justify-content-center align-items-center w-100" Style="height: 100vh" Elevation="0">
	<div class="d-flex flex-column align-items-center w-100" style="min-width: 700px; max-width:1500px">
		@Body
	</div>
</MudPaper>

@code {

}
