
:root {
    --background-color: #0f1116;
    --text-color: #ffffff;
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --link-color: white;
    --link-hover-background: rgba(56, 62, 105, 0.2);
    --link-hover-color: rgb(56, 62, 105);
    --side-panel-icon-hover-background: rgba(58, 105, 56, 0.2);
    --side-panel-icon-hover-margin-color: rgb(56, 105, 93);
    --side-panel-icon-selected-background: rgba(56, 62, 105, 0.4);
    --side-panel-icon-selected-margin-color: rgb(56, 62, 105);
}

#hero {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#links {
    width: 400px;
    text-align: left;
    font-size: x-large;
    color: white;
    display: flex;
    flex-direction: column;
}

#links a {
    color: white;
    text-decoration: none;
    margin-top: 20px;
    margin: 10px 0px;
    border: white 1px solid;
    border-radius: 5px;
    padding: 10px;
}

#links a:hover {
    background-color: #1f1f1f;
    cursor: pointer;
}

* {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.5) transparent;
}

span {
    user-select: none;
    -user-select: none;
    -select: none;
    -select: none;
    
}

.file-explorer {
    flex: 1; 
    background-color: rgb(33, 36, 44);
    overflow: hidden;
    color: white;
    font-family: 'JetBrains Mono', monospace;
}


.item-text {
    color: white; 
    margin-left: 10px;
    margin-top: 2px;
    padding: 0;
    flex: 1;
    cursor: pointer;
}

.item-text.selected {
    color: rgb(255, 81, 81); 
}

.file-text {
    display: flex;
    padding: 5px 0;
    color: indianred;
    margin: 0px 0px 0px 20px;
    align-items: center;
    font-size: 15px;
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.file-text:hover {
    background-color: rgba(255, 255, 255, 0.05);
    cursor: pointer;
}

.file-text.selected {
    color: rgb(255, 81, 81);
}


.right-click-menu {
    position: absolute;
    background-color: #1e1e1e;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 1000; 
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: auto; 
}

.dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;

    background: #1e1e1e;
    color: white;
    padding: 20px;
    
}

.dialog-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.dialog-button {
    width: 60px;
    color: lightyellow;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'JetBrains Mono', monospace;
    height: 100%;
    font-size: 15px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 10px;
    margin-top: 10px;
}

.dialog-button:hover {
    background-color: rgb(92, 63, 63); 
}

.dialog-button:active {
    background-color: rgb(44, 44, 44); 
}


.left-panel-slider, .terminal-slider {
    right: 0;
    background: #2e2e2e;
    transition: 0.3s ease-in-out 0s, opacity 0.3s ease-in-out 0s;
}

.terminal-slider {
    height: 5px;
    cursor: ns-resize; 
}

.left-panel-slider {
    width: 5px;
    cursor: ew-resize; 
}

.left-panel-slider:hover, .terminal-slider:hover {
    background: #00ffea;
    transition: 0.3s ease-in-out 0s, opacity 0.3s ease-in-out .3s;
}



.side-panel-icon {
    position: relative; 
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 50px;
    height: 50px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.side-panel-icon::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 4px; 
    background-color: transparent; 
    transition: background-color 0.3s ease; 
}

.side-panel-icon:hover {
    background-color: var(--side-panel-icon-hover-background); 
}

.side-panel-icon:hover::before {
    background-color: var(--side-panel-icon-hover-margin-color); 
}

.side-panel-icon.selected {
    background-color: var(--side-panel-icon-selected-background); 
}

.side-panel-icon.selected::before {
    background-color: var(--side-panel-icon-selected-margin-color); 
}

.save-button {
    width: 60px;
    color: lightyellow;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'JetBrains Mono', monospace;
    height: 100%;
    font-size: 15px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.save-button:hover {
    background-color: rgb(92, 63, 63); 
}

.save-button:active {
    background-color: rgb(44, 44, 44); 
}


.tab {
    display: inline-flex;
    align-items: center;
    padding: 8px 12px;
    min-width: 100px;
    max-width: 175px;
    justify-content: space-between;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.829);
    font-family: 'JetBrains Mono', monospace;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    height: 100%; 
    position: relative; 
    border-radius: 0; 
}

.tab::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 4px; 
    background-color: transparent; 
    transition: background-color 0.3s ease; 
}

.tab:hover {
    background-color: rgba(255, 255, 255, 0.1); 
}

.tab:hover::before {
    background-color: var(--side-panel-icon-selected-margin-color); 
}

.tab.highlighted::before {
    background-color: var(--side-panel-icon-hover-margin-color); 
}

.tab.highlighted {
    background-color: var(--side-panel-icon-hover-background); 
}

.tab.non-exists {
    text-decoration: line-through; 
    color: rgba(255, 0, 0, 0.7); 
}

.custom-checkbox {
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #1e1e1e;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    margin: 0;
}

.custom-checkbox:checked::before {
    content: "✔";
    color: white;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.custom-button {
    padding: 10px;
    font-family: 'JetBrains Mono', monospace;
    font-size: 15px;
    flex: 1;
    background-color: #1e1e1e;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.custom-button:hover {
    background-color: #2e2e2e; 
}

.custom-button:active {
    background-color: #3e3e3e; 
}

.history-item {
    display: block; 
    justify-content: center;
    padding: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    cursor: pointer;
    height: 40px;
    width: 100%;
    text-overflow: ellipsis; 
    overflow: hidden; 
    white-space: nowrap;
    transition: background-color 0.3s ease;
}

.history-item:hover {
    background-color: rgba(255, 255, 255, 0.192);
}

.history-item.selected {
    background-color: rgba(129, 255, 56, 0.1);
}

.invisible-scrollbar::-webkit-scrollbar {
    width: 100px; 
    background: transparent; 
}


.invisible-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
}


.invisible-scrollbar {
    overflow: auto; 
    position: relative; 
}

.left-panel {
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}


.terminal-launcher-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #1e1e1e;
    color: #ffffff;
}

.name-input {
    font-family: 'JetBrains Mono';
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #555555;

    
    width: 80%;
    max-width: 300px;
    background-color: #2e2e2e;
    color: #ffffff;
    outline: none;
}

.terminal-launcher-input input {
    font-family: 'JetBrains Mono';
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #555555;
    
    width: 80%;
    max-width: 300px;
    background-color: #2e2e2e;
    color: #ffffff;
}

.terminal-launcher-button {
    font-family: 'JetBrains Mono';
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    
    cursor: pointer;
    background-color: #3e3e3e;
    color: #ffffff;
    transition: background-color 0.3s ease;
}

.terminal-launcher-button:hover {
    background-color: #4e4e4e;
}


.option-button {
    width: 100%;
    padding: 10px;
    font-family: 'JetBrains Mono', monospace;
    font-size: 15px;
    background-color: #1e1e1e;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 0 0 0 0;
    transition: background-color 0.3s ease;
}

.choose-directory-btn {
    width: 100%;
    padding: 10px;
    font-family: 'JetBrains Mono', monospace;
    font-size: 15px;
    background-color: #1e1e1e;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 0 0 0 0;
    transition: background-color 0.3s ease;
    align-items: center;
    display: flex;
    justify-content: center;
}

.choose-directory-btn:hover {
    background-color: #2e2e2e; 
}

.choose-directory-btn:active {
    background-color: #1f1f1f; 
    transition: background-color 0.1s ease,;
}
@font-face {
    font-family: 'JetBrains Mono';
    src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Bold-Italic.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Bold-Italic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'JetBrains Mono';
    src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Bold.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'JetBrains Mono';
    src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-ExtraBold-Italic.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-ExtraBold-Italic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'JetBrains Mono';
    src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-ExtraBold.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'JetBrains Mono';
    src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Italic.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'JetBrains Mono';
    src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Medium-Italic.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Medium-Italic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'JetBrains Mono';
    src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Medium.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'JetBrains Mono';
    src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }